[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
crispy-bootstrap5 = "*"
django-crispy-forms = "*"
pillow = "*"
python-decouple = "*"
python-dotenv = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
