{% extends 'journal/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4 headings">Edenthought | Dashboard</h1>
                <div class="card center-content ">
                    <div class="card-body">
                        <h3 class="card-title">Welcome, &nbsp; {{ user }}</h3>
                        <img src="{{ profilePic.profile_pic.url }}" class="avatar" alt="profile picture">
                        <a class="btn btn-outline-primary w-100" type="button" href="{% url 'user-logout' %}">Logout</a>
                        &nbsp;
                        <a class="btn btn-outline-primary w-100" type="button" href="{% url 'update-profile-pic' %}">Update Picture</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
