{% extends 'journal/base.html' %}
{% block title %} My Thoughts {% endblock %}
{% block content %}
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4 headings">Edenthought | My Thoughts</h1>
                <div class="card ">
                    <div class="card-body">
                        {% for thought in AllThoughts %}
                            <br>
                        <h3 class="card-title">{{ thought.title }}</h3>
                            <br>
                        <p class="card-text">{{ thought.content }}</p>
                            <p>{{ thought.date_posted }}</p>
                            <p>Created by: &nbsp;{{ thought.user }}</p>
                            <a href="{% url 'update-thought' thought.id %}"><button class="btn btn-outline-success">Update Thought</button></a>
                            <a href="{% url 'delete-thought' thought.id %}"><button class="btn btn-outline-danger">Delete Thought</button></a>
                            <br>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}